<p id="notice"><%= notice %></p>

<h1>LIST OF ALL ALL TWEET</h1>
<h1>Welcome to Litter</h1>

<center>
<% @tweets.each do |tweet| %>
<div class="jumbotron" style="max-width: 500px">
  <p><%= tweet.body %></p>
  <h4><%= tweet.user %></h4>
  <%= link_to 'Show', tweet, class: "btn btn-primary btn-sm" %>
  <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary btn-sm" %>
  <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
</div>
<% end %>
</center>

<br>



.container {
  margin: 200px auto;
}
.row {
  margin-bottom: 30px;
}
#author {
  font-style: italic;
}
.btn {
  margin: 5px;
}
.fa {
  padding-right: 6px;
}
