<p id="notice"><%= notice %></p>

<h1>LIST OF ALL ALL TWEET</h1>
<h1>Welcome to Litter</h1>
 

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59d4ea2c4854b82732ff38f1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script--> 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<center>
<% @tweets.each do |tweet| %>
<div class="jumbotron" style="max-width: 500px">
  <p><%= tweet.body %></p>
  <h4><%= tweet.user %></h4>
  <%= link_to 'Show', tweet, class: "btn btn-primary btn-sm" %>
  <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary btn-sm" %>
  <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
</div>
<% end %>
</center>

<br>

<html>

<p><a href="http://kwitterwilliam.herokuapp.com">Visit My freinds Webpage!</a></p>
</body>
</html>


